<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>revolukit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://abav.lugaralgum.com/assets/css/style.css">
    <link rel="stylesheet" href="https://abav.lugaralgum.com/assets/css/syntax.css">
    <link rel="stylesheet" href="https://fonts.bunny.net/css?family=Source+Sans+Pro:200,300,400,700" media="all">
  </head>
  <style>
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 12px;
  align-items: start;
}
.gallery img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 4px; /* optional */
}
</style>
  <body>
  <img src="logo.png"><br>
  Arquitetura, Cultura e Patrimônio
  <article>  
    <div class="content">
      {{ content }}
    </div>
  </article>  
    <footer>
      <div class="container">
      </div>
    </footer>
  </body>
</html>
